<mat-card class="highlight-response-card">
  <div>
    HIGHLIGHTED RESPONSE
  </div>
  <mat-card-header>
    <mat-card-subtitle
      >{{ responderName }},
      {{ highlight.creationDate | date: 'shortDate' }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <!--<p><md-editor name="Content" [(ngModel)]="highlight.body" [mode]="mode" [options]="options" required maxlength="500">
    </md-editor></p>-->
    <p [innerHTML]="highlight.body | markdown"></p>
  </mat-card-content>
</mat-card>
