.highlight-response-card {
  width: 70%;
  margin-left: auto;
  display: hidden;
  margin-right: 9%;
  /* padding-bottom: 2.5%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 0 1px 4px #ffd13b;
}
div{
  color: #665313;
  /* font-weight: bold; */
  font-style:italic;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0px;
  padding: 4px;
  width: 60%;
  border: 1px solid #ffd13b;
  border-radius: 3px;
  background:linear-gradient(#ffe386 50%, #ffdc6a 50.1%, #ffd95d);
}
mat-card-subtitle {
  font-size: 0.9em;
  margin: 0 0 8px 0;
}
p {
  margin-left: 12px;
  margin-right: 12px;
  line-height: 1.5;
}
