#topic-expert-list {  
  border-top: 1px solid #474c55;  
}

#topic-expert-list-item {
  list-style: none;
  border: 1px solid #474c55;
  border-top: unset;
  padding: .5em 0; 
  cursor: pointer;
}

#topic-expert-list-item:hover {
  background-color: rgba(120,120,120, .16);
}

