.container{
  background-color: #ffffff;
  height: 75px;
  /* border-bottom: 1px solid #666a74; */
  box-shadow: 0 0 1px 1px #00000044;
}
.tag-chip-list {
  width: 47%;
  position: absolute;
  padding-left: 9%;
  top: 10%;
}

.select-dropdown {
  width: 18%;
  position: absolute;
  margin-left: 50%;
  padding-left: 8%;
  top: 10%;
}

.submit-button {
  position: absolute;
  margin-left: 80%;
  top: 11.5%;
  background-color: #f26925;
  color: #ffffff;
}

.reset-button {
  position: absolute;
  margin-left: 87%;
  top: 11.5%;
  background-color: #f26925;
  color: #ffffff;
}
.chip-list {
  width: 70%;
  position: absolute;
  padding-left: 15%;
}

