mat-toolbar{
  background-color: #ffffff;
  top: 50px;
  box-shadow: 0 0 1px 1px #00000044;
}
.tag-chip-list {
  width: 47%;
  margin: 4px 8px;
  /* position: absolute;
  padding-left: 9%;
  top: 72px; */
}

.select-dropdown {
  width: 18%;
  margin: 4px;
  /* position: absolute;
  margin-left: 50%;
  padding-left: 8%;
  top: 72px; */
}

.filter-button {
  width: 68px;
  margin: 4px;
  /* position: absolute;
  margin-left: 80%;
  top: 76px; */
  background-color: #f26925;
  color: #ffffff;
}

.reset-button {
  width: 68px;
  margin: 4px;
  /* position: absolute;
  margin-left: 87%;
  top: 76px; */
  background-color: #474C55;
  color: #ffffff;
}
.chip-list {
  width: 70%;
  margin: 4px;
  /* position: absolute;
  padding-left: 15%; */
}

