<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Topic Name</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 topic-experts__names">
      <button type="button" class="btn btn-secondary">Expert Name</button>
    </div>
    <div class="col-md-2 topic-experts__names">
      <button type="button" class="btn btn-secondary">Expert Name</button>
    </div>
    <div class="col-md-2 topic-experts__names">
      <button type="button" class="btn btn-secondary">Expert Name</button>
    </div>
    <div class="col-md-2 topic-experts__names">
      <button type="button" class="btn btn-secondary">Expert Name</button>
    </div>
    <div class="col-md-2 topic-experts__names">
      <button type="button" class="btn btn-secondary">Expert Name</button>
    </div>
    <div class="col-md-2 topic-experts__names">
      <button type="button" class="btn btn-secondary">Expert Name</button>
    </div>
    <div class="col-md-2 topic-experts__names">
      <button type="button" class="btn btn-secondary">Expert Name</button>
    </div>
    <div class="col-md-2 topic-experts__names">
      <button type="button" class="btn btn-secondary">Expert Name</button>
    </div>
    <div class="col-md-2 topic-experts__names">
      <button type="button" class="btn btn-secondary">Expert Name</button>
    </div>
    <div class="col-md-2 topic-experts__names">
      <button type="button" class="btn btn-secondary">Expert Name</button>
    </div>
    <div class="col-md-2 topic-experts__names">
      <button type="button" class="btn btn-secondary">Expert Name</button>
    </div>
  </div>
</div>
