<div id="ama">
  <div id="top-bar">
    <button id="close" (close)="closeChat()">x</button>
  </div>
  <h1>Ask Me Anything!</h1>
  <div id="ama-container">
    <form [formGroup]="userForm" (submit)="openSocket()" *ngIf="isLoaded">
      <p>User Information: (If Receiver's user id is left blank, message will be sent to all users.) </p>
      <div style="margin-bottom: 20px;">
        <input type="text" formControlName="fromId" name="fromId" placeholder="Your id"><br><br>
        <input type="submit" [disabled]="userForm.invalid || isCustomSocketOpened"
          value="Click here to recieve custom messages">
      </div>
      <input type="text" formControlName="toId" name="toId" placeholder="Receiver's User id">
    </form>


    <h5>{{expertDisplayName}} | {{topicDisplayName}}</h5>
    <div id="input-container">
      <form [formGroup]="form" (submit)="sendMessageUsingSocket()"><br>
        <p>Messages:</p>
        <app-message-box #messageBox [messages]="messages"></app-message-box>
        <!--
<input type="text" formControlName="message" name="message" placeholder="Message"><br><br>
        -->

        <textarea #inputBox type="text" placeholder="Send Message" formControlName="message" name="message"
          (keydown.enter)="inputText(inputBox.value, $event); inputBox.value = ''"></textarea>

        <input id="send" class="btn-light" type="submit" [disabled]="form.invalid || userForm.invalid" value="Send">
      </form>
    </div>
  </div>
  <ul>
    <!--

    -->
    <!--
<li *ngFor="let message of messages"> {{message.fromId}} : {{message.message}}</li>
   -->
  </ul>
</div>





<!--





<button id="send" class="btn-light" (click)="inputText(inputBox.value, $event); inputBox.value = ''">SEND</button>

-->