<div class="question-component">
  <app-question [question]="selectedQuestion"></app-question>
</div>

<div class="highlighted-response-component">
  <app-highlighted-response *ngIf="highlightedResponse" [highlight] = "highlightedResponse"></app-highlighted-response>
</div>

<div class="response-component" *ngFor="let response of questionResponses">
  <app-response [response]="response"></app-response>
</div>
  <app-enter-response (newResponse)="refreshPage()" *ngIf="this.authService.account.expert"></app-enter-response>
