<div class="question-component">
  <app-question [question]="selectedQuestion"></app-question>
</div>

<div class="msg-count"> 
  total responses: {{selectedQuestion.responses.length}}
</div>

<div class="highlighted-response-component">
  <app-highlighted-response *ngIf="highlightedResponse" [highlight] = "highlightedResponse"></app-highlighted-response>
</div>

<div class="response-component" *ngFor="let response of selectedQuestion.responses">
  <app-response (highlighted)="ngOnChanges(null)" [response]="response"></app-response>
</div>
<app-enter-response (newResponse)="ngOnChanges(null)" *ngIf="this.authService.account.expert" [question]="selectedQuestion"></app-enter-response>
