<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button>Recent</button>
    <button mat-button [matMenuTriggerFor]="tags">Tags</button>
    <mat-menu #tags="matMenu">
      <button mat-menu-item>Angular</button>
      <button mat-menu-item>Back-end</button>
      <button mat-menu-item>Design</button>
      <button mat-menu-item>Front-end</button>
      <button mat-menu-item>Java</button>
      <button mat-menu-item>Javascript</button>
      <button mat-menu-item>SQL</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="status">Status</button>
    <mat-menu #status="matMenu">
      <button mat-menu-item>Untouched</button>
      <button mat-menu-item>Active</button>
      <button mat-menu-item>Closed</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="account">Account</button>
    <mat-menu #account="matMenu">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item routerLink="/">Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
