<div class="container-fluid">
  <ul class="nav">
    <li class="nav-item">
    </li>
    <li class="nav-item">
      <button class="btn btn-success" (click)="editMode()">{{editModeText}}</button>
      <button class="btn btn-primary" (click)="updateProfile()" *ngIf="inEditMode">Save</button>
    </li>
  </ul>
  <div class="row">
    <h2 *ngIf="!this.authService.account.expert">Associate</h2>
    <h2 *ngIf="this.authService.account.expert">Expert</h2>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img class="profilePic" src={{user.profilePic}}>
      <div class="centered">
        <input type="file" accept="image/*" (change)="onFileChange($event)" *ngIf=inEditMode>
      </div>
    </div>
    <div class="col-md-8">
      <form [formGroup]="profileForm">
        <div class="form-group">
          <label for="profileInputUsername">Username: </label>
          <span> {{user.username}}</span>
          <input type="username" formControlName="username" id="profileInputUsername" placeholder="New Username"
            *ngIf=inEditMode>
        </div>
        <div class="form-group">
          <label for="profileInputEmail">Email: </label>
          <span> {{user.email}}</span>
          <input type="email" formControlName="email" id="profileInputEmail" placeholder="New Email" *ngIf=inEditMode>
        </div>
        <div class="form-group">
          <label for="profileInputBio"></label>
          <span> {{user.bio}}</span>
          <input type="textarea" formControlName="bio" id="profileInputBio" placeholder="Bio" *ngIf=inEditMode>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Being able to add Tags should go here-->
        <!--
        <form>
          <div class="form-group users-profile-interests" *ngIf="inEditMode">
            <input type="email" class="form-control" id="userProfile" placeholder="Interests">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
        -->
      </div>
    </div>
    <mat-chip-list>
      <h2 *ngIf="!this.authService.account.expert">Interests</h2>
      <h2 *ngIf="this.authService.account.expert">Skills</h2>
      <div *ngFor="let tag of this.authService.user.expertTags">
        <mat-chip class="chip">
          {{ tag.name }}
        </mat-chip>
      </div>
    </mat-chip-list>

    <div *ngIf="this.authService.user.questions.length > 0">
      <app-user-questions></app-user-questions>
    </div>
    <div *ngIf="this.authService.user.responses.length > 0">
      <app-expert-questions></app-expert-questions>
    </div>
    <div *ngIf="this.authService.user.responses.length > 0">
      <div *ngFor="let response of this.authService.user.responses">
        <p>{{ response.body }}</p>
        <p>{{ response.creationDate }}</p>
      </div>
    </div>
  </div>
</div>