.container-fluid .nav,
.form-group.users-profile-interests {
  display: flex;
}

.container-fluid .nav {
  justify-content: space-between;
}

.btn.users-profile-interests__interest-btn {
  background-color: #f26925;
  color: #fff;
  margin-right: .23em;
}

.btn.users-profile-interests__interest-btn:last-child {
  margin-right: 0;
}
