<mat-card class="question-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{ question.head }}</mat-card-title>
    <mat-card-subtitle>{{ question.user.username }} </mat-card-subtitle>
    <mat-card-subtitle>
      {{ question.creationDate | date: 'mediumDate' }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <!-- Image uploads would go here if we have that implementation -->
    <!-- <img mat-card-image src="s3-aws.com/jpg" alt="Code snippet"> -->
    <p>{{ question.body }}</p>
  </mat-card-content>
  <mat-chip-list class="mat-chip-list-wrapper">
    <div class="mat-chips" *ngFor="let tag of question.associatedTags">
      <mat-chip color="primary" selected>{{ tag.name }}</mat-chip>
    </div>
  </mat-chip-list>
</mat-card>
