<mat-card class="question-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Question: {{ question.head }}</mat-card-title>
    <mat-card-subtitle>User: {{ question.user.username }} </mat-card-subtitle>
    <mat-card-subtitle>
      Submit Date: {{ question.creationDate | date: 'medium' }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p>{{ question.body }}</p>
  </mat-card-content>
  <mat-chip-list
    class="mat-chip-list-wrapper"
    *ngFor="let tag of question.associatedTags"
  >
    <mat-chip color="primary" selected>{{ tag.name }}</mat-chip>
  </mat-chip-list>
</mat-card>
