.question-card {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
mat-card-content {
  margin: 0 16px;
}
mat-card-subtitle{
  margin: 10px 0 12px 0;
}
p{
  line-height: 1.5;
}
.mat-chip-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* mat-chip {
  font-size: 0.75em;
} */
img{
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}