.question-card {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  mat-card-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .btn{
      color: white;
      background-color: #673AB7;
      margin: 2px;
  }