.expertise-section {
  display: flex;
  align-content: center;
  height: 80px;
}

.check-box-margin {
  margin:  70px;
  align-self: center;
  width: 40px;
}


mat-card{
    text-align: center;
}

.expertise-section{
    align-self: auto;
    justify-content: center;
}


