.expertise-section {
  display: flex;
  align-content: center;
  height: 100px;
}

.check-box-margin {
  margin:  60px;
  align-self: auto;
}


mat-card{
    text-align: center;
}

.expertise-section{
    display: flex ; 
    justify-content: center;
}


