<mat-card >
  <mat-card-content class="card">
    <h2 class="head">Please Select Your Area of Expertise</h2>

    <section class="expertise-section" >
    <mat-checkbox class="check-box-margin" >Angular</mat-checkbox>
    <mat-checkbox class="check-box-margin" >Frontend</mat-checkbox>
    </section>

    <section class="expertise-section">
    <mat-checkbox class="check-box-margin">Typescript</mat-checkbox>
    <mat-checkbox class="check-box-margin" >Backend</mat-checkbox>
    </section>

    <section class="expertise-section">
    <mat-checkbox class="check-box-margin" >Javascript</mat-checkbox>
    <mat-checkbox class="check-box-margin" >C#</mat-checkbox>
    </section>

    <section class="expertise-section">
    <mat-checkbox class="check-box-margin" >Java</mat-checkbox>
    <mat-checkbox class="check-box-margin" >C++</mat-checkbox>
    </section>

    <section class="expertise-section">
    <mat-checkbox class="check-box-margin" >SQL</mat-checkbox>
    <mat-checkbox class="check-box-margin" >Micro-Services</mat-checkbox>
    </section>

  </mat-card-content>
</mat-card>