<div>
    <table class="event-container">
        <tr>
            <td class="date-container">
                <table id="date-table">
                    <tr>
                        <td><h2>{{parseDate()}}</h2></td>
                    </tr>
                    <tr>
                        <td><h3>{{year}}</h3></td>
                    </tr>
                </table>
            </td>
            <td class="content-container">
                <h1 class="content">{{parseTime()}} | AMA Session</h1>
                <h4 class="content">{{event.topic}} with {{event.expert}}</h4>
            </td>
        </tr>
    </table>
</div>