<div>
    <table class="event-container">
        <tr>
            <td class="date-container">
                <table id="date-table">
                    <tr>
                        <td><h4>{{parseDate()}}</h4></td>
                    </tr>
                    <tr>
                        <td><h5>{{year}}</h5></td>
                    </tr>
                </table>
            </td>
            <td class="content-container">
                <h4 class="content">{{parseTime()}} | AMA Session</h4>
                <h5 class="content">{{event.topic.name}} with {{event.expert.username}}</h5>
            </td>
        </tr>
    </table>
</div>