<div class="content">

  <mat-toolbar id="navbar" *ngIf="this.getLoggedIn()">
    <mat-toolbar-row>
        <button mat-button routerLink="/user/ask" *ngIf="!this.authService.account.expert">Ask Questions</button>
        <button mat-button routerLink="/question/all">All Questions</button>
        <button mat-button routerLink="/expert/settings" *ngIf="this.authService.account.expert">Settings</button>
        <button mat-button (click)="onLogout()">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>

    <div>
      <router-outlet></router-outlet>
    </div>
  
</div>
<app-footer></app-footer>
