<div class="content">

  <mat-toolbar id="navbar" *ngIf="this.getLoggedIn()">
    <mat-toolbar-row>
        <button mat-button routerLink="/user/ask" *ngIf="!this.getUserType()">Ask Questions</button>
        <button mat-button (click)="openAsk()" *ngIf="!this.getUserType()">Ask Question Modal</button>
        <button mat-button routerLink="/question/all">All Questions</button>
        <button mat-button routerLink="/topic/all">Topics</button>
        <button mat-button routerLink="/profile/{{this.authService.account.id}}">Your Profile</button>
        <button mat-button (click)="onLogout()">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
