button {
  padding: 5px;
  margin: 5px;
  color: #ffffff;
  width: 90%;
}
#userButton {
  background-color: #f26925;
}
#expertButton {
  background-color: #474c55;
}

mat-card {
  padding: 0;
  position: absolute;
  width: 260px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 0.5px solid #dddddd;
}
mat-card-content {
  padding: 10px;
  text-align: center;
}

mat-card-header {
  padding: 0px;
  background-color: #00000013;
  text-align: center;
}

h2 {
  color: #333333;
  padding: 0px;
  margin: 10px 0 10px -10px;
  font-weight: 500;
}
