<div class="container">
  <div class="card">
    <div class="card-body pagenotfound--card-body">
      <h5 class="card-title">404 Page Not Found</h5>
      <h6 class="card-subtitle mb-2 text-muted">Perhaps you are here because:</h6>
      <ul>
        <li><p class="card-text">The page has moved</p></li>
        <li><p class="card-text">The page no longer exists</p></li>
        <li><p class="card-text">You went to get coffee but got lost</p></li>
        <li><p class="card-text">You like 404 pages</p></li>
      </ul>
      <a routerLink="" class="pagenotfound--card-link card-link btn btn-secondary">Return to homepage</a>
    </div>
  </div>
</div>
