/* * {
  border: 1px solid red;
} */

.container {
  display: flex;
  height: 100vh;
  justify-content:L flex-start;
  align-items: center;
}

.card {
  width: 100%;
}

.pagenotfound--card-body {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

h5.card-title {
  font-size: 2em;
}

a.pagenotfound--card-link.card-link.btn.btn-secondary {
  color: #fff;
}
