<div class="container topic-container">
  <div class="row">
    <header class="col-md-12" id="topic-tagname-header">
      <h1>{{tag.name}}</h1>
    </header>
  <div class="col-md-5" id="topic-tagname-experts">
    <app-topic-experts></app-topic-experts>
  </div>  
  <div class="col-md-1"></div>
  <div class="col-md-6" id="topic-tagname-questions">
    <app-topic-questions></app-topic-questions>
  </div>

  <app-schedule-amasession *ngIf="this.authService.account.expert"></app-schedule-amasession>

  <app-ama-schedule [inputTag]="tag"></app-ama-schedule>
</div>
</div> 
