.question-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
}

.submit-response {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  border: 2px solid #474C55;
  padding: 2%;
  text-align: center;
  margin-bottom: 2.5%;
}

.submit-response > * {
  border: 1px solid red;
}

.mat-button {
    border: 2px solid #474C55;
    padding: 0% 2%;
}

.msg-count {  /* AG class */
  font-size: 0.9em;
  color: lightslategrey;
}

.msg-count p {
  margin: 2em 0 1em;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 100;
}

.responseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
