div {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: linear-gradient( #32373F,#474C55 10%);
  color: white;
  text-align: center;
}
p{
  padding-top: 10px;
  line-height: 10px;
  font-weight: normal;
}