/* #footer {
  margin-top: 15px;
  background-color: #474c55;
  color: whitesmoke;
  height: 52px;
} */

div {
  width: 100%;
  height: 48px;
  text-align: center;
  background: linear-gradient( #32373f,#474c55 10%);
  color: #dfdfdf;
}
p{
  line-height: 48px;
  font-weight: normal;
}