.page-number {
    font-weight: bolder;
}
.page-number:disabled{
    color: #000000;
    background-color: #ffff0000;
}
.load-more{
    text-align: center;
}

div{
    margin: 18px 0 0 0;
    width:240px;
    left:50%;
    position: relative;
    transform: translate(-50%, 0);
}
button{
    width: 80px;
}

#loadMore{
    width: 250px;
    margin-bottom: 20px;
}