<div class="submit-response">
  <mat-form-field>
    <span class="mat-button-wrapper mockplaceholder">Enter a response.</span>
    <textarea matInput hidden [(ngModel)]="response.body " name="body" #body></textarea>
    <md-editor name="Content" [upload]="doUpload" [preRender]="preRenderFunc" [(ngModel)]="response.body"
      [height]="'200px'" [mode]="mode" [options]="options" required maxlength="500">
    </md-editor>
  </mat-form-field>
  <mat-card-actions>
    <button id="submit" mat-raised-button (click)="addResponse(body.value)">Submit Response</button>
  </mat-card-actions>
</div>