.submit-response {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  border: 2px solid #55698d;
  padding: 16px;
  text-align: center;
  margin: 2.5% auto;
  background-color: white;
}
.submit-response > * {
  width: 100%;
}
button {
  padding: 0;
  width: 40%;
  min-width: 120px;
  max-width: 200px;
  margin: 2% 30%;
}
#submit {
  background-color: #f26925;
  color: #ffffff;
}
