<div class="submit-response">
    <mat-form-field>
      <textarea matInput class="form-control" [(ngModel)]="currentResponse.body" name="body" #body placeholder="Enter a response"></textarea>
    </mat-form-field>
    <mat-card-actions>
        <button mat-button *ngIf="!isEdit" (click)="addResponse(title.value, body.value)" class="btn btn-dark btn-block">Add Response</button>
        <button mat-button *ngIf="isEdit" (click)="updateResponse()" class="btn btn-warning btn-block">Update Response</button> 
    </mat-card-actions>
  </div>