.submit-response {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: 1.5px solid #55698d;
  padding: 2%;
  text-align: center;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}
.submit-response > * {
  width: 100%;
}
button {
  padding: 0;
  margin: 2%;
  width: 40%;
  min-width: 120px;
  max-width: 200px;
  margin-left: 30%;
  margin-right: 30%;
}
#submit {
  background-color: #f26925;
  color: #ffffff;
}