.submit-response {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #474C55;
    padding: 2%;
    text-align: center;
    margin-bottom: 2.5%;
  }
  
  .submit-response > * {
    width: 100%;
  }
  
  .mat-button {
      border: 2px solid #474C55;
      padding: 0% 2%;
  }