<mat-card class="response-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ response.responderId }}</mat-card-title>
    <mat-card-subtitle>{{ response.creationDate | date: 'short' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ response.body }}</p>
    <button mat-button (click)="removeResponse(response)" class="btn btn-danger"><i class="fa fa-remove">Remove</i></button>
    <button mat-button (click)="editResponse(response)" class="btn btn-light"><i class="fa fa-pencil">Edit</i></button>
  </mat-card-content>
</mat-card>
