<mat-card class="response-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Response ID: {{ response.id }}</mat-card-title>
    <mat-card-subtitle>Question ID: {{ response.questionId }}</mat-card-subtitle>
    <mat-card-subtitle>Username: {{ responderName }}</mat-card-subtitle>
    <mat-card-subtitle>{{ response.creationDate | date: 'mediumDate' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ response.body }}</p>
    <!-- <button mat-button (click)="removeResponse(response)" class="btn btn-danger"><i class="fa fa-remove">Remove</i></button> -->
    <!-- <button mat-button (click)="editResponse(response)" class="btn btn-light"><i class="fa fa-pencil">Edit</i></button> -->
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="this.currentQuestionerId == this.currentUserId" mat-button (click)="highlightResponse($event, response.id)">Highlight Answer</button>
  </mat-card-actions>
</mat-card>
