/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f5f5f5;
}

.mockplaceholder {
    color: #9a9a9a;
    margin: 0 10% 0 10%;
    width: 100%;
    text-align: left;
}

md-editor{
    margin: 0 10% 0 10%;
    text-align: left;
}

.need-space {
    margin:5px 0px;
}