mat-card {
  margin: 20px 100px 30px 0;
  max-width: 648px;
  padding: 0;
  border: 1.5px solid #55698d;
  border-radius: 3px;
  left: 50%;
  transform: translate(-50%, 0);
}
h3 {
  background: #55698d;
  padding: 7px 4% 7px 4%;
  font-weight: normal;
  color: #ffffff;
  position: absolute;
  width: 92.1%;
}
mat-form-field {
  margin: 0 13% 0 13%;
  width: 75%;
}
mat-form-field input {
  width: 75%;
  height: 25px;
  padding-left: 5px;
}
input:focus {
  outline: none;
}
button {
  padding: 0;
  width: 160px;
  left: 50%;
  transform: translate(-50%,0);
  margin: -4px 0 8px 0;
}
#submit {
  background-color: #f26925;
  color: #ffffff;
}
#submit:disabled {
  background-color: #747474;
  color: #c2c2c2;
}
