
.container {
  display: flex;
  width: 33%;
  min-height: 33%;
  flex-direction: row;
  border: 1.5px solid #55698d;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -300px);
  padding: 0;
 
}

h3 {
  background: #55698d;
  padding: 7px 4% 7px 4%;
  color: #ffffff;
  position: absolute;
  width: 92.1%;
  transform: translate( 0, -20px);
}

mat-form-field{
  position: absolute;
  margin: 10% 13% 10% 13%;
  width: 75%;
}
mat-form-field input {
  width: 75%;
  height: 25px;
  padding-left: 5px;
}

#submit {
  background-color: #f26925;
  color: #ffffff;
  position: absolute;
  margin-top: 35%;
  max-height: 85px;
  max-width: 200px;
  margin-left: 40%;
  margin-right: 30%;
}

