<!-- <div>
    <mat-card>
        <h2>Create New Tag</h2>
        <mat-form-field>
            <input [(ngModel)]="this.tag.name" matInput placeholder="New Tag Name" />
        </mat-form-field>
        <div>
            <button (click)="onSubmit()" mat-raised-button>Submit</button>
        </div>
    </mat-card>
</div> -->
<div class="container">
    <mat-card>
        <h2>Create New Tag</h2>
        <br><br>
        <mat-form-field>
            <input [(ngModel)]="this.tag.name" matInput placeholder="New Tag Name" />
        </mat-form-field>
        <button id="submit" mat-raised-button type="submit">Submit</button>
    </mat-card>
</div>