/* mat-card-actions {
  text-align: right;
} */

.question-card {
  width: 80%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:12px 0 0 0;
}
mat-card-title{
  cursor: pointer;
  margin-bottom: 12px;
}
mat-card-title:hover{
  text-decoration: underline;
}
.mat-chip-list-wrapper {
  top: 10px;
  right: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

mat-chip {
  font-size: 0.75em;
  margin: -2px;
}


.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary{
  background-color:#55698d;
}