/* mat-card-actions {
  text-align: right;
} */

.question-card {
  width: 80%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:12px 0 0 0;
}
mat-card-title{
  cursor: pointer;
  margin-bottom: 12px;
}
mat-card-title:hover{
  text-decoration: underline;
}
.mat-chip-list-wrapper {
  top: -10px;
  right: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

mat-chip {
  font-size: 0.75em;
  margin: -2px;
}

.tagPopover {
  margin:0px;
  border:0px;
  padding:5px 20px 5px 5px;
  background-color:none;
  overflow-y:auto;
  overflow-x:hidden;
  display:flex;
  max-height:200px;
  flex-wrap:wrap;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary{
  background-color:#55698d;
}

.high {
  box-shadow: inset 0 0 1px 4px #ffd13b;
}

.expandBackground {
  padding-top : 20px;
  padding-bottom : 20px;
  margin-top : 10px;
  margin-bottom : 10px;
}

.expandButton {
  color : white;
  font-style : italic;
  font-size : 12px;
  background-color: orange;
  border : none;
  margin-left : 150px;
  border-radius: 2px;
}
