div {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient( #32373F,#474C55 10%);
  color: white;
  text-align: center;
  z-index: 1500;
}
p{
  padding-top: 10px;
  line-height: 10px;
  font-weight: normal;
}