<app-user-nav></app-user-nav>
<body>
<div id="ask-question">
    <form #askQuestionForm>
        <div id="ask-question-content">
            <h1>Ask an Expert</h1>
            Title:<br>
            <input type="text" name="title"><br>
            Tags:
            <input type="text" name="tags">
            <br>
            Your Question:<br>
            <input  type="text" name="question">
            <br>
            <input type="submit" name="submit-question">
        </div>
    </form>
</div>
</body>
