<div id="ask-question">
    <form #askQuestionForm>
        <div id="ask-question-content">
            <h1>Ask an Expert</h1>
            Title:<br>
            <input type="text" name="title"><br>
            Tags:
            <input type="text" name="tags">
            <br>
            Your Question:<br>
            <input  type="text" name="question">
            <br>
            <input type="submit" name="submit-question">
        </div>
    </form>
</div>

<!-- Testing out angular material form under this comment line (Adam, you are free to ignore below codes -->

<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>