.ask-question-container {
  display: flex;
  min-height: 40%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;

  flex-direction: column;
  border: 1.5px solid #55698d;
  background-color:#ffffff;
  position: relative;
  top: 65%;

  border-radius: 3px;
  
}

textarea {
  max-height: 125px;
  min-height: 90px;
}

h3 {
  background: #55698d;
  padding: 7px 4% 7px 4%;
  color: #ffffff;
  position: relative;
  width: 100%;
}

mat-form-field{
  margin: 0 10% 0 10%;
}

.bunched {
  width: 100%;
}

button {
  padding: 0;
  margin-right: 10%;
  margin-bottom: 2.5%;
  width: 40%;
  float: right;
  max-width: 120px;
}

input {
  margin-top: .8%;
  margin-bottom: .8%;
}

#ask-question-button-upload {
  margin-left: 10%;
}

#ask-question-button-submit {
  background-color: #f26925;
  color: #ffffff;
}