<div class="ask-question-container">
  <!-- Banner -->
  <h3>
    Ask an Expert
  </h3>
  <!-- Angular Material form, input field for Title -->
  
  <mat-form-field>
    <input matInput [(ngModel)]="this.form.head" #qTitle placeholder="Title: ">
  </mat-form-field>

  <!-- Angular Material Chips -->
  <mat-form-field #qTags class="tag-chip-list">
    <mat-icon matSuffix>search</mat-icon>

    <mat-chip-list #chipList aria-label="Tag selection">
      <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
        {{ tag }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Select category tags: " #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
    </mat-chip-list>

    <!-- Angular Material, implementing autocomplete on chips -->
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{ tag }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- Markdown Editor for Question -->
    <span class="mat-button-wrapper mockplaceholder">Ask Question:</span>
    <md-editor name="Content" [upload]="doUpload" [preRender]="preRenderFunc" [(ngModel)]="this.form.body" [height]="'200px'"
      [mode]="mode" [options]="options" required maxlength="500" *ngIf="cleanMarkdown">
    </md-editor>

  <!-- Submit button -->
  <div class="bunched">
    <input type="file" id="ask-question-button-upload" (change)="onFileSelected($event)" #fileInput>
    <button mat-raised-button id="ask-question-button-submit"
      (click)="submitQuestion($event, qTitle.value, qTags.value, this.form.body)">Submit</button>
  </div>
  
</div>