<mat-card class="question-card">
  <mat-card-header>
    <mat-card-title>{{ question?.head }}</mat-card-title>
    <mat-card-subtitle
      >Posted by {{ question?.user.username }} on {{
        question?.creationDate | date: 'shortDate'
      }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p [innerHTML]="question?.body | markdown"></p>
    <ng-container *ngFor ="let image of images">
      <img mat-card-image [src]='image' alt='Image Not Found' [class]="imageSize" (click)="imageSize=!imageSize"/>
    </ng-container>
  </mat-card-content>
  <br>
  <mat-chip-list class="mat-chip-list-wrapper">
    <div class="mat-chips" *ngFor="let tag of question?.associatedTags">
      <mat-chip color="primary" selected>{{ tag.name }}</mat-chip>
    </div>
  </mat-chip-list>
</mat-card>
